<script>
  export let data
  import { page } from '$app/stores'
  import Game from './Game.svelte'
</script>

<h1>{ $page.params.date }</h1>

<div class="container">
  {#each data.games as game }
    <Game game={game} stats={data.stats}/>
  {/each}
</div>

<style scoped>
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
</style>