<script>
  import { STATS_COLUMNS, OPP_STATS_COLUMNS } from "$lib/stats.js"
  export let game = {}
  export let stats = {}
</script>

<div class="card">
  <div class="team">
    <h3>{ game.TEAM_ABBREVIATION }</h3>
    <div class="team-split-left">
      {#each STATS_COLUMNS as stat}
        <div><b>{ stat }</b>: {game[stat]}</div>
      {/each}
    </div>
  </div>
  <div class="team">
    <h3>{ game.TEAM_ABBREVIATION_OPP }</h3>
    <div class="team-split-right">
      {#each STATS_COLUMNS as stat}
        <div><b>{ stat }</b>: {game[`${stat}_OPP`]}</div>
      {/each}
    </div>
  </div>
</div>

<style scoped>
  .card {
    display: flex;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px;
    margin: 10px;
  }

  .team {
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .team-split-left {
    text-align: left;
  }

  .team-split-right {
    text-align: right;
  }
</style>